.container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.product-card {
    width: 300px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
}

.image-container {
    position: relative;
}

.image-container img {
    width: 100%;
    border-radius: 15px;
}


#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.load {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.load-btn {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.load-btn:hover {
    opacity: 0.6;
}

.card {
    border: none !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card-body {
    margin: auto !important;
    text-align: center;
}

#save-recipe {
    background-color: white !important;
    color: black !important;
}