body {
    background: url("assets/images/back1.png") no-repeat center center/cover;
    background-attachment: fixed;
    background-color: #f7f7f7;
    background-blend-mode: hard-light;
}

.container {
    background-color: transparent;
    width: 100%;
    min-height: 100vh;
}

.container h1 {
    font-weight: 900;
    color: var(--primary-color);
    text-align: center;
    font-size: 2.5rem;
    padding: 3rem 1rem;
    margin-bottom: 1rem;
}

.price-row {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 25px;
    padding-bottom: 3rem;
}

.price-column {
    height: 60vh;
    background-color: black;
    color: var(--primary-color);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(255, 166, 0.5);
    text-align: center;
    transition: 0.3s;
}

.price-column:hover {
    transform: translateY(-10px);
}

.price-column h2 {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 3rem;
}

ul {
    list-style: none;
    margin-bottom: 3rem;
}

ul li {
    margin: 1rem 0;
}

h3 {
    font-weight: 800;
    font-size: 1.9rem;
    margin-bottom: 3rem;
}

h3 .month {
    font-size: 1rem;
    color: white;
}

.price-footer {
    margin-top: auto;
}

a {
    text-decoration: none;
    font-weight: bold;
}

.price-footer .btn {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
}

.price-footer .btn:hover {
    background-color: #ef9a1b;
}

/* Responsive */

@media screen and (max-width: 768px) {
    .price-row {
        grid-template-columns: 1fr;
    }
}